@using StudentInfo.WebClient.Helpers
@model StudentInfo.WebClient.Models.StudentBalanceModel
@{
    Layout = "";
}

<div class="modal-header">
    <h4 class="modal-title">Pay Balance</h4>
</div>
<div id="payBalanceErrorContainer" class="alert alert-danger" style="display: none">
    Please fix the following errors:
    <div id="payBalanceErrors"></div>
</div>
<div class="modal-body">
    @if(Model.HasBalance)
    {
        <div class="form-horizontal" role="form">
                @using (Ajax.BeginForm("PayBalance", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "processPayBalanceResult" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(x => x.PaymentId)

                    <div class="form-group">
                        @Html.LabelFor(x => x.CreditProvider, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.CreditProvider, Helper.GetCreditProviders(), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.NameOnCreditCard, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.NameOnCreditCard, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.CreditCardNumber, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Expiration Date", new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.ExpirationMonth, Helper.GetExpiryMonths(), new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.ExpirationYear, Helper.GetExpiryYears(), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.CreditCardCode, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.CreditCardCode, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Balance, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.DisplayFor(m => m.Balance, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.AmountToPay, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AmountToPay, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Pay" class="btn btn-success" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                }
            </div>
    }
    else
    {
        <p>You have no outstanding balance to pay</p>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    }
</div>