@model StudentInfo.Dto.Payment
@{
    ViewBag.Title = $"{Model.Term} - {Model.Date.Year}";
}

<h2>@Model.Term - @Model.Date.Year</h2>

@Html.ActionLink("Back", "PaymentInquiry", null, new { @class = "btn btn-secondary" })

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Description</th>
            <th>Charges</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items.OrderBy(x => x.Order))
        {
            <tr>
                <td>@item.Title</td>
                <td>$@item.Amount</td>
                <td></td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>$@Model.TotalToPay</strong></td>
            <td>
                <button type="button" class="btn-link" onclick='loadTransactionsModal("@Model.Id")'><strong>$@Model.TotalPaid</strong>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <p class="small">due date: @Model.DueDate.ToString("MMM dd, yyyy")</p>
</div>
@if(Model.Balance > 0)
{
    <p class="bg-warning"><strong>Balance owing $@Model.Balance</strong></p>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" onclick='loadPayBalanceModal("@Model.Id")'>
                <span class="glyphicon glyphicon-usd"></span> Pay Balance
            </button>
        </div>
    </div>
    <br />
}
else
{
    <p class="bg-success"><strong>Balance owing $@Model.Balance</strong></p>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" disabled>
                <span class="glyphicon glyphicon-usd"></span> Pay Balance
            </button>
        </div>
    </div>
    <br />
}

<div>
    <p class="text-warning">Please note that an interest of 3% is applied on owing balance for everyday if not paid before the due date.</p>
</div>

<!-- Pay Balance Modal -->
<div id="payBalanceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="payBalanceModalBody" class="modal-content">
        </div>
    </div>
</div>

<!-- Transactions Modal -->
<div id="transactionsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="transactionsModalBody" class="modal-content">
        </div>
    </div>
</div>