@model StudentInfo.WebClient.Models.StudentSearchModel
@using StudentInfo.WebClient.Helpers
@{
    ViewBag.Title = "Search Students";
}

<!-- Students Search form -->
<div class="well">
    <p><h4>Search Students</h4></p>

    @using (Html.BeginForm("Search", "ManageStudents", FormMethod.Get))
    {
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(x => x.StudentId)
                @Html.TextBoxFor(x => x.StudentId, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @{ 
                    Guid? facultyId = ViewBag.FacultyId != null ? ViewBag.FacultyId : null;
                }
                @Html.LabelFor(x => x.DepartmentId)
                @Html.DropDownListFor(x => x.DepartmentId, FieldInputHelpers.GetSchoolDepartments(facultyId), new { @class = "form-control" })
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    }
</div>

<!-- Search Results -->
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Program</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Result.Count > 0)
        {
            foreach(var item in Model.Result)
            {
                <tr>
                    <td>@item.ExternalStudentId</td>
                    <td>@item.User.FullName</td>
                    <td>@item.Program.Name</td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            @Html.Label("", "No results")
        }
    </tbody>
</table>
