@using StudentInfo.Students

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Settings.SystemName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrapV3-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.multidatespicker.css" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrapv3-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
    <script src="~/Scripts/jquery.calendar-widget.js"></script>
    <script src="~/Scripts/studentinfojs.js"></script>
    <script src="~/Scripts/studentinfogeneric.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("StudentInfo.NET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(StudentInfo.Enums.SystemRoles.Student))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Account
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Student Record", "Index", "StudentRecord", null, new { @class = "studentLink" })</li>
                                    <li>@Html.ActionLink("Details", "Index", "ManageAccount")</li>
                                    <li>@Html.ActionLink("Payment Inquiry", "PaymentInquiry", "ManageAccount")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Account", "Index", "ManageAccount")</li>
                        }

                        if (User.IsInRole(StudentInfo.Enums.SystemRoles.Administrator))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Users
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Search", "Index", "User")</li>
                                    <li>@Html.ActionLink("Create", "Register", "Account")</li>
                                </ul>
                            </li>
                        }

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Courses
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Student -->
                                @if (User.IsInRole(StudentInfo.Enums.SystemRoles.Student))
                                {
                                    
                                    <li>@Html.ActionLink("Enroll", "Search", "Course", null, new { @class = "studentLink" })</li>
                                    <li>@Html.ActionLink("My Courses", "StudentCourses", "Course", null, new { @class = "studentLink" })</li>
                                    <li>@Html.ActionLink("Grades", "Grades", "Student", null, new { @class = "studentLink" })</li>
                                }

                                <!-- FacultyMember -->
                                @if (User.IsInRole(StudentInfo.Enums.SystemRoles.FacultyMember))
                                {
                                    <li>@Html.ActionLink("Manage", "SearchAll", "Course")</li>
                                    <li>@Html.ActionLink("Assigned Courses", "Search", "Course")</li>
                                }

                                <!-- Instructor -->
                                @if (User.IsInRole(StudentInfo.Enums.SystemRoles.Instructor))
                                {
                                    <li>@Html.ActionLink("Assigned Courses", "Search", "Course")</li>
                                }

                                <!-- Admin -->
                                @if (User.IsInRole(StudentInfo.Enums.SystemRoles.Administrator))
                                {
                                    <li>@Html.ActionLink("Manage", "SearchAll", "Course")</li>
                                    <li>@Html.ActionLink("Assigned Courses", "Search", "Course")</li>
                                    <li>@Html.ActionLink("Create", "Create", "Course")</li>
                                }
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="permanentPaymentAlert" class="alert alert-danger" style="display: none"></div>
    <div id="paymentAlertContainer"></div>
    <div id="alertsContainer"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Settings.SystemName</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

@if (StudentHelper.IsPaymentDue() && HttpContext.Current.Session["hasBalance"] != null && (bool)HttpContext.Current.Session["hasBalance"] == true)
{
    <script type="text/javascript">
        $(function () {
            $(".studentLink").click(function () {
                $("#paymentAlertContainer").remove("p");
                $("#paymentAlertContainer").addClass("alert alert-danger");
                $("#paymentAlertContainer").html("<p>Please pay owing balance to continue using the system.</p>");
                $("#paymentAlertContainer").delay(3000).fadeOut();
                $("#paymentAlertContainer").show();
            })

            // Remove student links
            $(".studentLink").attr("href", "#");

            // Show permanent alert
            @{ 
                decimal owinBalance = 0;
                if (HttpContext.Current.Session["owingBalance"] != null)
                {
                    owinBalance = (decimal)HttpContext.Current.Session["owingBalance"];
                }
            }
            $("#permanentPaymentAlert").html("You have an oustanding balance of $" + @owinBalance);
            $("#permanentPaymentAlert").show();

        });
    </script>
}
else
{
    <script type="text/javascript">
        $("#permanentPaymentAlert").html();
        $("#permanentPaymentAlert").hide();
    </script>
}