@model StudentInfo.WebClient.Models.StudentRecordModel
@using StudentInfo.Enums
@using StudentInfo.Students
@{
    ViewBag.Title = "Student Record";
}

<div class="container">
    <h2>Student Record</h2>
    <div class="panel-group">
        <!-- Personal Info-->
        <div class="panel-default">
            <div class="panel-heading">Student Info</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p><strong>Full Name: </strong> @Model.User.FullName</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Student ID:</strong> @Model.Student.ExternalStudentId</p>
                </div>
            </div>
        </div>

        <!-- Academic Info-->
        <div class="panel-default">
            <div class="panel-heading">Academic Info</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p><strong>Program: </strong>@Enum.GetName(typeof(DegreeType), Model.Student.Program.DegreeType) - @Model.Student.Program.Name</p>
                    <p><strong>Active in Program since: </strong> @Model.Student.StartTerm @Model.Student.StartYear</p>
                    <p><strong>Cumulative GPA: </strong>@Model.CummulativeGPA.ToString("0.##")</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Program Credits: </strong>@Model.Student.Program.TotalCredits</p>
                    <p><strong>Total Earned Credits: </strong>@Model.TotalEarnedCredits</p>
                </div>
            </div>
        </div>

        <!-- Courses Info-->
        <div class="panel-default">
            <div class="panel-heading">Courses Info</div>
            <div class="panel-body">
                @if (Model.GroupedStudentCourses.Count > 0)
                {
                    foreach (var yearItem in Model.GroupedStudentCourses)
                    {
                        <table class="table">
                            <tr>
                                <th>Year</th>
                                <th></th>
                            </tr>
                            <tr>
                                <!-- Year -->
                                <td><strong>@yearItem.Key</strong></td>
                                <!-- Term Info-->
                                <td>
                                    @foreach (var termItem in yearItem.Value)
                                    {
                                        <!-- Term Name -->
                                        <strong>@termItem.Key</strong>
                                        <br />

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">Code</th>
                                                    <th class="col-md-3">Title</th>
                                                    <th class="col-md-4">Description</th>
                                                    <th class="col-md-1">Attempted</th>
                                                    <th class="col-md-1">Grade</th>
                                                    <th class="col-md-1">GPA</th>
                                                    <th class="col-md-1">Credits Earned</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var termGPA = StudentHelper.CummulativeGPA(termItem.ToList());
                                                }
                                                @foreach (var course in termItem)
                                                {
                                        <tr>
                                            <td>@course.SemesterCourse.Course.Code</td>
                                            <td>@course.SemesterCourse.Course.Name</td>
                                            <td>@course.SemesterCourse.Course.Description</td>
                                            <td>@course.SemesterCourse.Course.NumberOfCredits</td>
                                            @{
                                                var grade = string.Empty;
                                                var gpa = string.Empty;
                                                if (!string.IsNullOrEmpty(course.Grade))
                                                {
                                                    grade = course.Grade;
                                                    gpa = Grade.GetAverage(grade).ToString();
                                                }
                                            }
                                            <td>@grade</td>
                                            <td>@gpa</td>
                                            <td>
                                                @{
                                                    var earnedCredits = 0;
                                                    if (!string.IsNullOrEmpty(course.Grade) &&
                                                        !course.Grade.Equals("F", StringComparison.InvariantCultureIgnoreCase))
                                                    {
                                                        earnedCredits = course.SemesterCourse.Course.NumberOfCredits;
                                                    }
                                                }
                                                @earnedCredits
                                            </td>
                                        </tr>
                                                }
                                                <tr>
                                                    <td colspan="6"><strong>Term GPA: @termGPA</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                                    }
                                </td>
                            </tr>
                        </table>
                    }
                }
                else
                {
                    <p>No courses were completed</p>
                }
            </div>
        </div>
    </div>
</div>