@model StudentInfo.Dto.SemesterCourse
@using StudentInfo.WebClient.Helpers

<div class="modal-header">
    <h4 class="modal-title">@Model.Course.Code - @Model.Course.Name</h4>
</div>
<div class="modal-body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Model.Course.Department.Faculty.Name</li>
        <li class="breadcrumb-item">@Model.Course.Department.Name</li>
    </ol>
    <p>Course Description:</p>
    <p class="text-info">@Model.Course.Description</p>
    @{ 
        var instructorName = Model.Teacher == null ? "TBD" : Helper.GetUserFullName(Model.Teacher.ApplicationUserId);
    }
    <p>Instructor: @instructorName</p>
    <p>Course Period: @Model.CourseDate.Year - @Model.Term</p>
    <p>Location: @Model.Schedule.Classroom.Campus - @Model.Schedule.Classroom.Number</p>
    @{ 
        var classCapacity = $"{Helper.CountRegisterdStudents(Model.Id)} / {Model.Schedule.Classroom.Capacity}";
    }
    <p>Capacity: @classCapacity</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>