@model StudentInfo.WebClient.Models.EditCourseModel

@{ 
    Layout = "";
}

<div class="modal-header">
<h4 class="modal-title">@Model.Code - @Model.Title</h4>
    </div>
<div class="modal-body">
    <div class="form-horizontal" role="form">
        @using (Ajax.BeginForm("EditCourse", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "processEditCourseResults" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                @Html.LabelFor(x => x.Code, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.NumberOfCredits, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.NumberOfCredits, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Level, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(x => x.Level, new { @class = "form-control" })
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
        }
    </div>
</div>