@model StudentInfo.WebClient.Models.CourseGradesModel

@{
  Layout = "";
}

<div class="modal-header">
    <h4 class="modal-title">@Model.SemesterCourse.Course.Code - @Model.SemesterCourse.Course.Name</h4>
</div>
<div class="modal-body">
    
        @if (Model.Students.Count() > 0)
        {
        <table class="table">
            <tr>
                <th>Student ID</th>
                <th>Grade</th>
            </tr>
            @foreach (var item in Model.Students)
            {
            <tr>
                <td>@Html.DisplayFor(x => item.Student.ExternalStudentId)</td>
                @if (string.IsNullOrEmpty(item.Grade))
                {
                <td>@Html.DropDownList("Grades", StudentInfo.WebClient.Helpers.Helper.GetGradeItems(), new { id = item.StudentId, onchange = "captureGrade(this)" })</td>
                }
                else
                {
                <td>@Html.Label("Grade", item.Grade)</td>
                }
            </tr>
            }
        </table>
        }
        else
        {
            @Html.Label("Empty", "No results.")
        }
</div>
<div class="modal-footer">
    <input type="button" value="Save" class="btn btn-success" onclick="assignStudentsGrades()" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
    var studentGradesArray = [];
</script>