@model StudentInfo.WebClient.Models.CourseSearchModel
@using StudentInfo.WebClient.Helpers
@using PagedList.Mvc

@{
    ViewBag.Title = "Course Search";
}

<!-- Course Search form -->
<div class="well">
    <p><h4>Course Search</h4></p>

    @using (Html.BeginForm("SearchAll", "Course", FormMethod.Get))
    {
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(x => x.Keyword)
                @Html.TextBoxFor(x => x.Keyword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.FacultyId)
                @Html.DropDownListFor(x => x.FacultyId, FieldInputHelpers.GetSchoolFaculties(), new { id = "facultySelector", @class = "form-control", onchange = "updateDepartments()" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.DepartmentId)
                @Html.DropDownListFor(x => x.DepartmentId, new List<SelectListItem>(), new { id = "departmentSelector", @class = "form-control" })
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    }
</div>

<!-- Search Results table -->
<table class="table table-responsive">
    <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Faculty</th>
        <th>Department</th>
        <th></th>
    </tr>
    @if (Model.CoursesResults != null)
    {
        foreach (var item in Model.CoursesResults)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(x => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Department.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Department.Name)
                </td>
                <td class="col-md-4">

                    @if (User.IsInRole(StudentInfo.Enums.SystemRoles.Administrator) || User.IsInRole(StudentInfo.Enums.SystemRoles.FacultyMember))
                    {
                        <button class="btn btn-primary" onclick='loadCourseScheduleModal("@item.Id")'>
                            <span class="glyphicon glyphicon-calendar"></span> Schedule
                        </button>

                        <button class="btn btn-primary" onclick='location.href = "/Course/CreateSchedule?courseId=@item.Id";'>
                            <span class="glyphicon glyphicon-calendar"></span> New Schedule
                        </button>

                        <button class="btn btn-primary" onclick='loadEditCourse("@item.Id", true)'>
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                    }
                </td>
            </tr>
        }
    }
</table>

@if (Model.CoursesResults != null)
{
    @: Page @(Model.CoursesResults.PageCount < Model.CoursesResults.PageNumber ? 0 : Model.CoursesResults.PageNumber) of @Model.CoursesResults.PageCount
    @Html.PagedListPager(Model.CoursesResults, page => Url.Action("SearchAll", new { page, model = Model }))
}

<!-- Course Details Modal -->
<div id="courseDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="courseDetailsModalBody" class="modal-content">
        </div>
    </div>
</div>

<!-- Course Edit Modal -->
<div id="courseEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="courseEditModalBody" class="modal-content">
        </div>
    </div>
</div>

<!-- Course Schedule Modal -->
<div id="courseScheduleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="courseScheduleModalBody" class="modal-content">
        </div>
    </div>
</div>