@model PagedList.IPagedList<StudentInfo.Faculties.Course>
@using PagedList.Mvc
@{
    ViewBag.Title = "Courses";
}
<script type="text/javascript">
    function loadCourseDetails(courseId) {
        $.get('/Course/Details?id=' + courseId, function (data) {
            $('#courseDetailsModalBody').html(data);
            $('#courseDetailsModal').modal('show');
        })
    }
</script>

<h2>Courses</h2>
<table class="table">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Code)
            </td>
            <td>
                @Html.DisplayFor(x => item.Name)
            </td>
            <td>
                <button id="@item.Id" class="btn btn-default" onclick='loadCourseDetails("@item.Id");'>Details</button>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
    <tr></tr>
</table>
<br />

<div id="courseDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="courseDetailsModalBody" class="modal-content">
            
        </div>
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))



