@model IEnumerable<IGrouping<int, StudentInfo.Dto.StudentCourse>>

@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>

<table class="table">
    <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Term</th>
        <th>Year</th>
        <th>Grade</th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var group in Model)
        {
            foreach (var item in group.OrderBy(x => x.SemesterCourse.Term))
            {
            <tr>
                <td>@item.SemesterCourse.Course.Code</td>
                <td>@item.SemesterCourse.Course.Name</td>
                <td>@item.SemesterCourse.Term</td>
                <td>@item.SemesterCourse.CourseDate.Year</td>
                <td>@(item.Grade ?? "N/A")</td>
            </tr>
            }
        }
    }
    else
    {
        Html.Label("Empty", "No Results");
    }
</table>